<ion-header [translucent]="true" [class.ion-no-border]="showHeaderBorder">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="wallet"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      My Wallet
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-avatar>
          <img src="../../assets/ai-face3.jpg" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="didScroll($event)">
  <!-- Wallet -->
  <ion-card #wallet>
    <ion-card-header>
      <div class="card-header">
        <ion-icon slot="start" name="wallet"></ion-icon>
        <ion-card-title>WEALTH BANK</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <h2>XXXX XXXX XXXX XXXX</h2>

      <div class="detail-container">
        <div class="left-detail">
          <span>OWNER NAME</span>
          <p>BASSEY DANIEL .I</p>
        </div>
  
        <div class="right-detail">
          <span>EXPIRY</span>
          <p>08/23</p>
        </div>
      </div>
     
    </ion-card-content>
  </ion-card>


  <!-- Balance -->
  <div class="balance-container">
    <div class="balance-header">
      <h4>Balance Available</h4>
      <ion-button (click)="onClick()" fill="clear">
        Add Money
      </ion-button>
    </div>

    <div class="amount-balance">
      <p>THIS MONTH</p>
      <h1><span>$</span> 845.72</h1>
    </div>

    <div class="balance-footer">
      <ion-button (click)="onClick()" fill="clear">
        <ion-icon slot="start" name="send" class="send"></ion-icon>
        SEND
      </ion-button>
      <span class="line-spacer"></span>
      <ion-button (click)="onClick()" fill="clear">
        <ion-icon slot="start" name="send" class="recieve"></ion-icon>
        RECIEVE
      </ion-button>
    </div>

  </div>

  <!-- Bills -->
  <div class="bill-container">
    <div class="bill-header">
      <h4>Pay Bills</h4>
    </div>

    <div class="bill-content">
      <div class="text-placer">
        <div class="recharge">
          <ion-icon slot="icon-only" name="phone-portrait-outline"></ion-icon>
        </div>
        <span>Recharge</span>
      </div>
      
     
      <div class="text-placer">
        <div class="water">
          <ion-icon slot="icon-only" name="water-outline"></ion-icon>
        </div>
        <span>Water</span>
      </div>
      
      <div class="text-placer">
        <div class="electricity">
          <ion-icon slot="icon-only" name="flash-outline"></ion-icon>
        </div>
        <span>Electricity</span>
      </div>


      <div class="text-placer">
        <div class="gas">
          <ion-icon slot="icon-only" name="stopwatch-outline"></ion-icon>
        </div>
        <span>Gas</span>
      </div>
      
    </div>

    <div class="bill-footer">
      <ion-button (click)="onClick()" fill="clear" expand="block">
        <ion-icon slot="start" name="arrow-forward" class="arrow-forward"></ion-icon>
        More
      </ion-button>
    </div>

  </div>

  <!-- History -->
  <div class="history-container">
    <div class="history-header">
      <h4>History</h4>
    </div>

    <div class="history-content">
      <div class="badge failed">
        <span>$ 183.13</span>
      </div>

      <div class="badge failed">
        <span>$ 243.90</span>
      </div>

      <div class="badge success">
        <span>$ 968.87</span>
      </div>
      
    </div>

    <div class="history-footer">
      <ion-button (click)="onClick()" fill="clear" expand="block">
        <ion-icon slot="start" name="arrow-forward" class="arrow-forward"></ion-icon>
        SEE ALL
      </ion-button>
    </div>

  </div>

  <!-- Recent Transaction -->
  <div class="recent-container">
    <div class="recent-header">
      <h4>Recent Transactions</h4>
    </div>

    <div class="recent-content">
      
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="../../assets/ai-face.jpg" />
        </ion-avatar>
        <p>Fred Willson</p>
        <span class="caption">Monday, 30 November 2020</span>
        <span class="amount passed">$200</span>
        <ion-button (click)="onClick()" fill="clear" slot="end">
          Repeat
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="../../assets/ai-face2.jpg" />
        </ion-avatar>
        <p>Andrew Simon</p>
        <span class="caption">Monday, 30 November 2020</span>
        <span class="amount passed">$1000</span>
        <ion-button (click)="onClick()" fill="clear" slot="end">
          Repeat
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="../../assets/ai-face3.jpg" />
        </ion-avatar>
        <p>Mathias Greg</p>
        <span class="caption">Monday, 30 November 2020</span>
        <span class="amount not-passed">$496</span>
        <ion-button (click)="onClick()" fill="clear" slot="end">
          Request
        </ion-button>
      </ion-item>
    </div>

    <div class="recent-footer">
      <ion-button (click)="onClick()" fill="clear" expand="block">
        <ion-icon slot="start" name="arrow-forward" class="arrow-forward"></ion-icon>
        SEE ALL
      </ion-button>
    </div>

  </div>

</ion-content>
